:root{
    --color-azul: #08162B;
}

* {
    box-sizing: border-box;
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--color-azul);
    color: silver;
}

/*header*/

.row.barrabusqueda {
    background-color: rgba(136, 216, 240, 0.507);
}

.row.barrabusqueda form input#busqueda{
    margin-top: 5px;
}

button.lupa{
    position: absolute;
    left: 77%;
    top: 18%;
    border: none;
    background-color: transparent;
}

/*Iconos Usuario y Carrito*/
i.fas.fa-user {
    color: orange;
}

i.fas.fa-cart-plus {
    color: orange;
}

/*barra header navegacion*/

.row.navegacion{
    background-color: rgba(136, 216, 240, 0.507);
    margin-bottom: 10px;
}

.row.navegacion .secciones{
    position: relative;
    top: 5px;
    
    margin: 0px 20px;
}

.row.navegacion ul{
    align-content: space-between;
}

.row.navegacion ul li{
    color: silver;
    font-size: 15px;
    display: inline;
}

.row.navegacion ul li a{
    color: orange;
    text-decoration: none;
    font-weight: bold;
}
.row.navegacion ul li :hover{
    color: rgb(255, 81, 0);
}

/*seccion: productos*/

.container section{
    background-color: rgba(96, 161, 187, 0.589);
    margin: 2px;
    border-radius: 5px;
    border: 1px solid white;
}

section .producto{
    display: flex;
}

.row h4 {
    color: var(--color-azul);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form{
    font-weight: bold;
    text-align: center;
    color: orange;
    margin-left: 1px;
}

form button.eliminar{
    position: relative;
    bottom: 45px;
    left: 35%;
}
h4.productos{
    font-weight: bold;
}

h5{
    margin-top: 2px;
    font-weight: bold;
}

h5.productoinfo{
    position: relative;
    top: 10px;
    left: 5px;
}

h6.precio{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 255, 0);
    position: relative;
    left: 10px;
    top: 20px
}

/******/

h4.titulos{
    margin-top: 5px;
    color: silver;
}

/***Comprar***/

.container #comprarbtn form button{
    margin-top: 3px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 30px;
    background-color: orange;
    font-weight: bold;
}
.container #comprarbtn form button :hover{
    color: orangered;
}

h5#preciototal{
    font-size: 25px;
    margin-top: 10px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    color: silver;
}

/*footer*/
footer{
    width: 100%;
}

#contacto{
    color: silver;
    padding: 10px;
    text-align: center;
}

.redes a{
    margin: 3px;
    color: orange
}

#copyright{
    background-color: rgba(136, 216, 240, 0.507);
}

#copyright p{
    color: white;
    margin-top: 10px;
    opacity: 0.70;
}

@media(min-width: 768px){
    /*header*/
    button.lupa{
        position: absolute;
        left: 42%;
        top: 18%;
        border: none;
        background-color: transparent;
    }
    .navbar-expand-md{
        font-size: 25px;
    }
    .navbar-expand-md .navbar-nav{
        flex-direction: column;
    }

    /*header: banner*/
    .img-fluid {
        max-width: 50%;
        height: auto;
        position: relative;
        left: 25%;
    }

    /*secciones: arma tu pc, ayuda, sucursales, etc*/
    .row.navegacion .secciones{
        position: relative;
        top: 10px
    }

    /*footer*/
    ul.redes{
       display: grid;
    }
    /****/

    /*carrito*/
    h6.precio{
        font-size: 15px;
    }

    h4.titulos{
        font-size: 30px;
    }
    form{
        font-size: 15px;
    }

    #formasenvio{
        position: relative;
        left: 50%;
        bottom: 85px;
    }
}

@media(min-width:1200px){
    h6.precio{
        left: 15%;
    }
    button.lupa{
        position: absolute;
        left: 25%;
        border: none;
        background-color: transparent;
    }
    .row.barrabusqueda form input#busqueda{
        display: flex;
    }
}