.container{
    overflow: hidden;
}

.container .row section#producto{
    display: flex
}

#productostitulo{
    text-align: center;
}

section .ofertas{
    text-align: center;
}

section #cajaproducto{
    text-decoration: none;
}

section #cajaproducto h5{
    color: orange;
}

section #cajaproducto h5:hover{
    color: orangered;
}

@media (min-width: 768px){
    #imagecarousel1{
        position: relative;
        left: 3%;
    }

    section .cajadeproducto{
        display: inline-block;
    }
}

    section .ofertas{
    display: inline-flex;
    position: relative;
    left: 5%;
}

@media (min-width: 992px){
    #imagecarousel1{
        position: relative;
        left: 14%;
    }
}

@media (min-width: 1440px){
    #imagecarousel1{
        position: relative;
        left: 20%;
    }
}