@font-face{
    font-family: lemonmilk;
    src: url("/images/LEMONMILK-Light.otf");
}

:root{
    --color-azul: #08162B;
    --color-celeste: rgba(136, 216, 240, 0.507);
}

* {
    font-family: lemonmilk;
}

body {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-azul);
    background-image: url("/images/fondo.png");
}

/*header*/
header{
    background-color: var(--color-celeste)
}
button#lupa {
    position: absolute;
    left: 67%;
    bottom: -9px;
    border: none;
    background-color: transparent;
}

.row #barrabusqueda{
    width: 100%;
}
.row{
    box-sizing: border-box
}

h2, h3, h4, h5, h6{
    color: white;
}

/*Banner*/
#banner{
    height: 50%;
}

/*Iconos Usuario y Carrito*/
i.fas.fa-user {
    color: orange;
}

i.fas.fa-cart-plus {
    color: orange;
}

/*navegacion*/

.row #navegacion .secciones{
    position: relative;
    top: 5px;
}

.row #navegacion ul li{
    color: silver;
    font-size: 15px;
    display: inline;
    border-right: 1px solid white;
    margin: 5px;
}

.row #navegacion ul li a{
    color: orange;
    text-decoration: none;
    font-weight: bolder;
    padding-right: 10px;
}


/*main*/
#mensajes h5{
    color: rgb(0, 153, 153);
    font-weight: bolder;
}
#mensajes p{
    color:  rgb(0, 153, 153);
    font-weight: bolder;
}

#botoncategorias button{
    position: relative;
    left: 45%;
    background-color: orange;
    margin-bottom: 5px;
}

#botoncategorias{
    margin-top: 5px;
}

#botoncategorias ul li{
    background-color: skyblue;
    text-align: center;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

#botoncategorias ul li a{
    text-decoration: none;
    color: var(--color-azul);
}

h5{
    color: white;
}

/*footer*/

footer{
    background-color: var(--color-celeste);
}

#contacto{
    color: silver;
    padding: 10px;
    text-align: center;
}

.redes a{
    margin: 3px;
    color: orange
}

#copyright p{
    color: white;
    margin-top: 10px;
    opacity: 0.70;
    text-align: center;
    font-weight: bolder;
}

#sponsors{
    background-color: rgba(134, 188, 212, 0.534);
    width: 100%;
}

#sponsors h5{
    text-align: center;
    border-bottom: 1px solid orange;
    color: white;
    font-weight: bolder;
}

#sponsors.p{
    color: white;
}

@media (min-width: 768px) {
    #banner{
        position: relative;
        bottom: 0%;
        left: 40%;
    }

    button#lupa {
        position: absolute;
        left: 60%;
        bottom: -9px;
        border: none;
        background-color: transparent;
    }
    .row #barrabusqueda{
        width: 80%;
    }

    .navbar-expand-md{
        font-size: 25px;
    }
    .navbar-expand-md .navbar-nav{
        flex-direction: column;
    }

    /*secciones: arma tu pc, ayuda, sucursales, etc*/
    .row #navegacion .secciones{
        position: relative;
        top: 10px
    }

    /*footer*/
    ul.redes{
       display: grid;
    }
}

@media (min-width: 992px) {
    #banner{
        position: relative;
        left: 20%;
        height: 70%;
    }

    button#lupa {
        position: absolute;
        left: 68%;
        bottom: -9px;
        border: none;
        background-color: transparent;
    }

    /*footer*/
    #contacto{
        color: silver;
        position: relative;
        bottom: -15px
    }

    ul.redes{
        position: relative;
        top: 5%
    }
}