/*Main Registro*/

main{
    padding: 0px 20%;
    text-align: center;
    margin: 5% 0%;
}

main div{
    margin: 5% 0%;
}

/*Registro con exito*/
.exito {
    margin-top: 5px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(136, 216, 240, 0.507);
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: rgb(0, 255, 0);
}

.inputCinco{
    position: relative;
    right: 26px;
}
.inputSeis{
    position: relative;
    right: 26px;
}
@media(min-width: 768px){
    .inputUno {
        position: relative;
        left: 81px;
    }
    
    .inputDos{
        position: relative;
        left: 93px;
    }
    
    .inputTres{
        position: relative;
        left: 63px;
    }

    .inputCuatro{
        position: relative;
        left: 3%;
    }

    .inputCinco{
        position: relative;
        left: 40px;
    }
    .inputSeis{
        position: relative;
        left: 20px;
    }
    .exito{
        font-size: 60px;
    }
}

@media (min-width: 992px){
    .inputUno{
        position: relative;
        left: 88px;
    }

    .inputDos{
        position: relative;
        left: 99px;
    }

    .inputTres{
        position: relative;
        left: 68px;
    }
}

@media (min-width: 1440px){
    .inputDos{
        position: relative;
        left: 104px;
    }

    .inputTres{
        position: relative;
        left: 78px;
    }
}