<header>
    <div class="container">
      <!---Busqueda, cuenta y carrito-->
      <div class="row barrabusqueda">
          <div class="col-7 col-sm-6 col-md-7 col-lg-8 col-xl-8">
            <form action="">
            <input id="busqueda" type="text" placeholder="Buscar...">
            <button class="lupa" type="submit"><i class="fas fa-search"></i></button>
            </form>    
          </div>
    
        <div class="col-5 col-sm-6 col-md-5 col-lg-4 col-xl-4">
          <ul class="nav justify-content-end">
            <li class="nav-item">
            <a class="nav-link active" href="#"><i class="fas fa-user"></i></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-cart-plus"></i></a>
            </li>
          </ul>
        </div>
      </div>
    
        <!---banner-->
      <div class="row banner">
        <div class="col-12">
        <img src="./images/LogoMG.png" alt="banner" class="img-fluid">
        </div>
      </div>
    
      <!---navegacion-->
        <div class="row navegacion">
          <div class="col-12 nav justify-content-center">
          <ul>
          <li><a class="secciones" href="#">Armá tu PC!</a></li>
          <li><a class="secciones" href="#">Sucursales</a></li>
          <li><a class="secciones" href="#">Sobre nosotros</a></li>
          <li><a class="secciones" href="#">Ayuda</a></li>
          </ul>
          </div>
        </div>
      </div>
</header>