<header>
<div class="container">
      <!---Busqueda, cuenta y carrito-->
  <div class="row">
      <div class="col-4">
        <form action="">
          <div class="input-group">
          <input id="barrabusqueda" type="text" placeholder="Buscar...">
          <button id="lupa" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </form>    
      </div>
    
    <div class="col-4">
      <a href="#home"><img src="/images/banner.png" id="banner"></a>
    </div>


    <div class="col-4">
      <ul class="nav justify-content-end" id="usuarioycarrito">
        <li class="nav-item">
        <a class="nav-link active" href="#"><i class="fas fa-user"></i></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-cart-plus"></i></a>
        </li>
      </ul>
    </div>
  </div>
    
<!---navegacion-->
    <div class="row">
      <div class="col-12 nav justify-content-center" id="navegacion">
        <ul class="secciones">
        <li><img src="images/icono.png" width="40" style="padding-right: 5px;"></li>
        <li><a href="#">Armá tu PC!</a></li>
        <li><a href="#">Sucursales</a></li>
        <li><a href="#">Sobre nosotros</a></li>
        <li><a href="#">Ayuda</a></li>
        </ul>
      </div>
    </div>
</div>
</header>