<header>
<div class="container">
      <!---Busqueda, cuenta y carrito-->
  <div class="row">
    <% if (typeof usuario != "undefined") { %>
      <div class="col-12">
        <p style="font-size: x-small; color: white">¡Bienvenido, <%= usuario.name %>!</p>
      </div>
    <% } %>

      <div class="col-4">
        <form action="">
          <div class="input-group">
          <input id="barrabusqueda" type="text" placeholder="Buscar...">
          <button id="lupa" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </form>    
      </div>
    
    <div class="col-4">
      <a href="/"><img src="/images/banner.png" id="banner"></a>
    </div>


    <div class="col-4">
      <div class="btn-group" id="botoningresoyregistro">
        <button type="button" class="btn btn-default dropdown-toggle"data-toggle="dropdown">
          <i class="fas fa-user"></i>
        <span class="caret"></span>
        </button>
      
        <ul class="dropdown-menu" role="menu">
          <% if (typeof usuario == "undefined") { %>
          <li><a href="/user/register" id="ingresoyregistro">Registrarse</a></li>
          <li><a href="/user/login" id="ingresoyregistro">Ingresar</a></li>
          <% } else{ %>
            <li><a href="/user/profile" id="ingresoyregistro">Perfil</a></li>
            <li><a href="/producto/agregar" id="ingresoyregistro">Subir productos</a></li>
            <li><a href="/producto/misproductos" id="ingresoyregistro">Mis productos</a></li>
            <li><a href="/user/logout" id="ingresoyregistro">Desloguear</a></li>
          <% } %>
        </ul>
        <li class="nav-item" id="carrito">
          <a class="nav-link" href="/carrito" id="cajacarrito"><i class="fas fa-cart-plus"></i></a>
        </li>
      </div>
    </div>
  </div>

<!---navegacion-->
    <div class="row">
      <div class="col-12" id="navegacion">
        <ul class="nav justify-content-center">
          <img src="/images/icono.png" class="icononavegacion">
          <li class="nav-item" id="headerNav">
            <a class="nav-link active" href="/producto/all">Productos</a>
          </li>
          <li class="nav-item" id="headerNav">
            <a class="nav-link" href="#">Armá tu Pc</a>
          </li>
          <li class="nav-item" id="headerNav">
            <a class="nav-link" href="/nosotros">Nosotros</a>
          </li>
          <li class="nav-item" id="headerNav">
            <a class="nav-link" href="/ayuda">Ayuda</a>
          </li>
        </ul>
      </div>
    </div>
</div>
<script src="/javascripts/headerNav.js"></script>
</header>