<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<link rel="stylesheet" href="/stylesheets/<%= css %>">
<%- include('partials/header') %>
<body>
    <div class="container ayudacontainer">
        <div class="row ayudarow">
            <div class="col-12">
                <h3 class="preguntastitulo">Preguntas frecuentes</h3>
            </div>
            <div class="col-12 text-center infoayudacaja">
                <div id="infoayuda">
                    <h6>¿Hacen envios a todo el país?</h6>
                    <p>Sí, hacemos envios a todo el país, de forma segura y sin posibilidad de retrasos en la entrega.</p>
                </div>
                <div id="infoayuda">
                    <h6>¿Aceptan tarjetas de debito?</h6>
                    <p>Aceptamos todo tipo de tarjetas para realizar las compras, además son 100% seguras!</p>
                </div>
                <div id="infoayuda">
                    <h6>¿Puedo devolver un producto comprado?</h6>
                    <p>Efectivamente, siempre y cuando su fecha de entrega no haya expirado.</p>
                </div>
                <div id="infoayuda">
                    <h6>En caso de que un producto venga fallido, ¿Qué hago?</h6>
                    <p >Si eso sucede, quedate tranquilo que nosotros nos hacemos 100% responsables y lo solucionaremos lo más rapido posible!</p>
                </div>
                <div id="infoayuda">
                    <h6>¿Hacen descuento por cantidad?</h6>
                    <p>Claro, dependiendo del producto se aplicará un descuento en caso de exceder una cierta cantidad.</p>
                </div>
            </div>
        </div>
    </div>


    
<%- include('partials/footer') %>
</body>
</html>