<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<link rel="stylesheet" href="/stylesheets/<%= css %>">
<%- include('partials/header') %>
<body>
<section class="container carritocuerpo">
<div class="container">
    <div class="row">
    <!---seccion: productos-->
         <div class="col-sm-12 col-md-6">
            <h4 class="titulos" style="color: white;">Mis productos</h4>
            <article id="productos">
            <div class="producto">
            <img src="/images/pcmuestra.png" alt="imagen" width="64" height="64">
            <h5 class="productoinfo">Producto 1</h5>
            <h6 class="precio">(Precio)</h6>
            </div>
            <form action="/producto/delete" method="POST">
                <button type="submit" class="eliminar">Eliminar</button>
            </form>
            </article>

            <article>
            <div class="producto">
            <img src="/images/pcmuestra.png" alt="imagen" width="64" height="64">
            <h5 class="productoinfo">Producto 2</h5>
            <h6 class="precio">(Precio)</h6>
            </div>
            <form action="">
                <button type="" class="eliminar">Eliminar</button>
            </form>
            </article>
        </div>

    <!---seccion: medios de pago-->
    
    <div class="col-sm-12 col-md-6">
        <h4 class="titulos">Medios de pago</h4>
            <article>
            <form action="">
                <label for="medio"></label>
               <input type="radio" name="medio" value="op1">Visa
               <input type="radio" name="medio" value="op2">MasterCard
                <input type="radio" name="medio" value="op3">MercadoPago
            </form>
            </article>
    </div>
    <!---seccion: formas de envio-->
    <div class="col-md-6" id="formasenvio">
    <h4 class="titulos">Formas de envio</h4>
    <article>
        <form action="">
        <label for="formaenvio"></label>
            <input type="radio" name="formaenvio" value="oca">OCA
            <input type="radio" name="formaenvio" value="moto">Moto
            <input type="radio" name="formaenvio" value="andreini">Andreini
        </form>
    </article>
    </div>
</div>
</div>
<!--Acá termina el container-->
<!--acá empieza otro container-->
<div class="container">
    <div class="row">
            <div class="col-sm-12 col-md-6">
                <h5 id="preciototal">Precio total:</h5>
            </div>
        <div class="col-sm-12 col-md-6" id="comprarbtn">
        <form>
            <button type="">Comprar</button>
        </form>
        </div>
    </div>
</div>

</section>
<%- include('partials/footer') %>
</body>
</html>