<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
<%- include('partials/header') %>

<div class="container">
<section style="margin-top: 10px;">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <img src="/images/pcmuestra.png" alt="imagen" class="img-fluid" id="imagenmuestra">
        </div>
        <div class="col-sm-12 col-md-6">
                <h2>Producto</h2>
                <h4>Precio</h4>
                <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
      
    <div class="row">
    <div class="col-sm-6 col-md-6">
    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, quisquam!</h5>
    </div>

    <div class="col-sm-6 col-md-6">
            <form action="" name="">
                <button type="button" name="" value="">Agregar al carrito</button>
            </form>
    </div>
    </div>
</section> 


<div class="row">
    <div class="col-12 col-md-2">
    <h5>Productos relacionados:</h5>
    </div>
    <div class="col-12 col-md-10">
        <div>
           <!--Crear productos relacionados--> 
        </div>
    </div>
</div>


</div>
<%- include('partials/footer') %>
</body>
</html>