<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
<div class="container">
    <section>
        <div class="row">
            <div class="col-12 text-center">
                <!---formulario de edicion, viaja por PUT-->
                <form action="" method="POST">
                <div>
                    <label for="">Editar nombre:</label>
                    <input type="text" name="nombre">
                </div>
                <div>
                    <label for="">Editar precio:</label>
                    <input type="number" name="precio">
                </div>
                <div>
                    <label for="">Editar descuento:</label>
                    <input type="number" name="descuento">
                </div>
                <div>
                    <label for="">Editar stock:</label>
                    <input type="number" name="cantidad">
                </div>
                <div>
                    <label for="">Editar categoria:</label>
                    <select><!--todas las categorias---></select>
                </div>
                <div>
                    <label for="">Editar descripción:</label>
                    <textarea name="descripcion"></textarea>
                </div>
                <div>
                    <label for="">Cambiar/subir foto:</label>
                    <input type="image" name="image">
                </div>
                <div>
                    <button type="submit">Confirmar cambios</button>
                </div>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
<%- include('partials/footer') %> 
</html>