<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="exito">¡Te registraste con Exito!</h2>
            </div>
            <div class="col-12 nav justify-content-center">
            <form action="/" method="GET">
                <button style="font-size: 25px;">Volver</button>
            </form>
            </div>
        </div>
    </div>
    
<%- include('partials/footer') %> 
</body>
</html>