<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
<%- include('partials/header') %>

<main>
<h2 class="justify-content-center">¡Agrega un producto!</h2>
<section class="container">
    <div class="row">
        <div class="col-12">    
        <form action="POST">
            <div>
            <label for="">Nombre:</label>
            <input type="text">
            </div>

            <div>
            <label for="">Categoria:</label>
            <select name="" id="">
                <option value="">Procesadores</option>
                <option value="">Motherboards</option>
                <option value="">Almacenamiento</option>
                <option value="">RAM</option>
                <option value="">Gabinetes</option>
                <option value="">Fuentes</option>
                <option value="">Pantallas</option>
                <option value="">Otros</option>
            </select>
            </div>
                
            <div>
            <label for="">Precio:</label>
            <input type="number">
            </div>
                
    
            <div class="formfield">
            <label for="textarea">Descripción:</label>
            <textarea id="textarea" col="30" rows="10"></textarea>
            </div>
                
            <div>
            <label for="">Cantidad:</label>
            <input type="number" name="" id="">
            </div>
                
            <div>
            <label for="Envio">Envio:</label>
            <input type="radio" name="Envio" value="si">si
            <input type="radio" name="Envio" value="no">no
            </div> 
    
            <div>
            Agregar fotos
            <img src="" alt="">
            </div>
            <button type="submit">Agregar</button>
        </form>
        </div>
    </div>    
</section>
</main>
<%- include('partials/footer') %>
</body>
</html>